[ghq]
	root = ~/src
[user]
	name = yoshikouki
	email = yoshikouki@gmail.com
	id = yoshikouki
[core]
	excludesfile = ~/.gitignore_global
	pager = delta
	editor = nvim
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	dark = true
	line-numbers = true
	side-by-side = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
# OS-specific settings are loaded from local.gitconfig
[include]
	path = ~/.config/git/local.gitconfig
