.DS_Store
*~
!.config/fish
.zsh/history/
.config/antidote/state.json
.tmux/*
.vscode

# secrets
.env
.env.*
.turso/
**/secrets.*
.zshenv.local
**/*.pem
**/*.key
**/*.p12
**/*.pfx
**/*.crt
**/*.der
**/*.jks
**/*.keystore
