[ghq]
	root = ~/src
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = yoshikouki
	email = yoshikouki@pepabo.com
	id = yoshikouki
[init]
	templatedir = ~/.git_template
[core]
	excludesfile = /Users/yoshikouki/.gitignore_global
[http]
	postBuffer = 524288000
